body {
    font-family: 'Noto Sans JP', sans-serif;
}

div#layout {
    text-align: center;
    position: relative;
}

#cfGraph {
    /* width: 1000px; */
    /* height: 600px; */
    overflow: scroll;
    margin: auto;
    background-color: #424242;
    font-size: 12px;
    position: relative;
}

#cfGraph svg {
    width: 100%;
}

#svg-defs-wrapper {
    width: 0;
    height: 0;
}

path {
    stroke: gray;
}

line {
    stroke: gray;
}

text {
    fill: #dfdcca;
}


/* SVG horizontal bars for the cashflow graph */

.hbar {
    fill: #80cbc4;
    stroke: #80cbc4;
    stroke-width: 4px;
    cursor: pointer;
}

.hbar+text {
    cursor: pointer;
}

.hbar:hover {
    stroke: #ebe186;
}

.hbar+text:hover {
    fill: #ebe18e;
    font-weight: 500;
}

.hbarLeftGroup text,
.hbarRightGroup text {
    fill: #2F4A6D;
    font-size: 0.8em;
}

.hbarLeftGroup rect,
.hbarRightGroup rect {
    fill: #ebe186;
}


/* vertical lines for the cashflow graph */

.vline {
    stroke: #b1aad8;
    stroke-width: 1px;
}


/* title, legend */

.title-text {
    font-size: 1.8em;
    font-weight: 400;
}

.legend-text {
    font-size: 0.8em;
    font-weight: 300;
    text-transform: uppercase;
    fill: #f7dfc4;
}


/* SVG defs */

.smalldot-marker {
    stroke: #b1aad8;
    stroke-width: 1px;
    fill: #8b80cb;
}

.opendot-marker {
    stroke: #ebe186;
    stroke-width: 1px;
    fill: none;
}

.left-openbox-marker {
    stroke: #ebe186;
    stroke-width: 2px;
    fill: transparent;
}

.left-openbox-marker {
    stroke: #ebe186;
    stroke-width: 2px;
    fill: transparent;
}

.openbox-marker {
    stroke: #ebe186;
    stroke-width: 2px;
    fill: none;
}

.filledbox-marker {
    stroke: #ebe186;
    stroke-width: 2px;
    fill: #ebe186;
}


/* date window slider */

.graph-sliderwindow {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 25%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    color: #c7f7ff;
    font-size: 0.9em;
    text-align: left;
}

.graph-sliderwindow input {
    width: 30%;
    padding: 0;
}

.graph-sliderwindow section {
    width: 100%;
}

.graph-sliderwindow label,
.graph-sliderwindow section {
    height: 2em;
    line-height: 2em;
    ;
}


/* adjustable cash flow window */

.cfWindow {
    fill: #ddddff11;
    stroke-width: 0;
}


/* view controls */

.graph-viewcontrols {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 25%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    color: #c7f7ff;
    font-size: 0.9em;
    text-align: left;
}


/* range input */


/* from https://brennaobrien.com/blog/2014/05/style-input-type-range-in-every-browser.html */

input[type=range].slider-input {
    padding: 0;
    background: transparent;
}

input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    background: #ddd;
    margin-top: -2px
}

input[type=range]::-moz-range-track {
    -moz-appearance: none;
    width: 100%;
    height: 4px;
    background: #ddd;
    margin-top: -2px
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 16px;
    border-radius: 20%;
    background: goldenrod;
    margin-top: -4px;
    cursor: grabbing;
    border: none;
}

input[type=range]::-moz-range-thumb {
    -moz-appearance: none;
    height: 12px;
    width: 16px;
    border-radius: 20%;
    background: goldenrod;
    margin-top: -4px;
    cursor: grabbing;
    border: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}