<aside>
    <i>Earnest money</i> payments shown as bars.
    <br>Payments from different projects are intermingled since project timelines can overlap.
    <p>A cumulative cash flow line is also shown.</p>
</aside>

<p>
    <details>
        <summary>Animated data updates</summary>
        Three data update cycles are shown as an example. <br> This chart uses <code>D3 transitions</code> on the <code>enter</code>,
        <code>update</code>, and <code>exit</code> sections with the
        <a style="display: inline; padding: 0;" href="https://observablehq.com/@d3/selection-join">D3 join</a> syntax.

    </details>
</p>